@import "variables";
    
.Header, 
.Menu_TopMenuActive {
    background: @color-1-bg;
}

.Application_Title a,
.Application_Title a:link,
.Application_Title a:visited,
.Application_Title a:hover,
.Login_Info,
.AppSwitcherContainer,
a.Login_Info_Username, 
a.Login_Info_Username:link, 
a.Login_Info_Username:visited,
.Login_Info_Logout:before,
.Login_Info_Username:before,
.AppSwitcherContainer:before,
.MenuSlider_Toggler,
.Menu_TopMenuActive:hover a,
.Menu_TopMenuActive a:link,
.Menu_TopMenuActive a:visited {
    background-color: @color-1-bg;
    color: @color-1-fg;
}

.AppSwitcherList,
.Application_Menu .Menu_DropDownButton,
.Header_Menu,
.Application_Menu {
  background: @color-2-bg;
}

.Menu_TopMenu a, 
.Menu_TopMenu a:link, 
.Menu_TopMenu a:visited {
     background:transparent;
}

.ButtonDefault,
.Button.Is_Default {
    background: @color-1-bg;
    border: 1px solid @color-1-bg;
    color: @color-1-fg;
}

.Button {
    background: @color-2-bg;
    border: 1px solid @color-2-bg;
    color: @color-2-fg;
}

.Application_Title img {
    max-height: 30px;
}

.AppSwitcherLink, 
.AppSwitcherLink:link, 
.AppSwitcherLink:visited {
    border:none;
}

.AppSwitcherLink, 
.AppSwitcherLink:link, 
.AppSwitcherLink:visited,
.Menu_TopMenu a:link, 
.Menu_TopMenu a:visited, 
.Menu_TopMenu a {
    color: @color-2-fg;
    border-bottom-color: @color-2-bg;
}

.Menu_DropDownArrow {
    border-top-color: @color-2-bg;
}

.Application_Menu a.Menu_SubMenuItem, 
.Application_Menu a.Menu_SubMenuItem:hover, 
.Application_Menu a.Menu_SubMenuItem:link, 
.Application_Menu a.Menu_SubMenuItem:visited {
    background-color: darken(@color-2-bg, 10%);
    border-bottom: none;
    color: @color-2-fg;
}

.Application_Menu a.Menu_SubMenuItemActive:link, 
.Application_Menu a.Menu_SubMenuItemActive:visited,
.Application_Menu a.Menu_SubMenuItem:hover {
    color: @color-1-fg;
}

a, 
a:link, 
a:visited,
.EditableTable tr.RowControlGroup a {
  color: @color-1-bg;
}

a.ActionAdd:before,
a.ActionEdit:before,
a.ActionDelete:before,
a.ActionChange:before,
.Actions [class^=fa] {
    background: @color-1-bg;
    color: @color-1-fg;
}

@media screen and (max-width: 1023px) { 
    .Responsive .Login_Info_Logout:before {
         color: @color-2-bg;
    }
}